<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <connectionStrings>
    <add name="NpceClientDB" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=NpceClient;Integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LOLServiceSoap" />
        <binding name="BasicHttpBinding_ROLServiceSoap" />
        <binding name="WsCESoap" openTimeout="00:10:00" 
                                 receiveTimeout="00:20:00"
                                 sendTimeout="00:10:00" 
                                 maxBufferPoolSize="2147483647" 
                                 maxBufferSize="2147483647"
                                 maxReceivedMessageSize="2147483647" />
        <binding name="basicHttp" />
        <binding name="basicHttp1" />
        <binding name="basicHttp2" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="mexHttp">
          <security mode="None" />
        </binding>
        <binding name="mexHttp1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LOLGC/LolService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_LOLServiceSoap" contract="NPCE_WinClient.Services.Lol.LOLServiceSoap"
        name="BasicHttpBinding_LOLServiceSoap" />
      <endpoint address="http://10.60.19.12/ROLGC/RolService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ROLServiceSoap" contract="NPCE_WinClient.Services.Rol.ROLServiceSoap"
        name="BasicHttpBinding_ROLServiceSoap" />
      <endpoint address="http://172.21.21.4/NPCE_EntryPoint/WsCE.svc"
        binding="basicHttpBinding" bindingConfiguration="WsCESoap" contract="ComunicazioniElettroniche.Common.Proxy.WsCE"
        name="WsCESoap" />
      <endpoint address="http://10.60.19.13/RaccomandataMarket/MOLService.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="mexHttp" contract="Services.Mol.IRaccomandataMarketService"
        name="mexHttp" />
      <endpoint address="http://10.60.19.13/RaccomandataMarket/MOLService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttp"
        contract="Services.Mol.IRaccomandataMarketService" name="basicHttp" />
      <endpoint address="http://localhost/PostaContest/PostaContestService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttp1"
        contract="NPCE_WinClient.Services.Col.IPostaContestService"
        name="basicHttp1" />
      <endpoint address="http://localhost/PostaContest/PostaContestService.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="mexHttp1" contract="NPCE_WinClient.Services.Col.IPostaContestService"
        name="mexHttp1" />
      <endpoint address="http://camerali.web/CameraliService.svc" binding="basicHttpBinding"
        bindingConfiguration="basicHttp2" contract="Services.Vol.ICameraliService"
        name="basicHttp2" />
    </client>
  </system.serviceModel>
</configuration>